body {
    min-height: 100vh;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.block1 {
    background-color: rgb(31, 29, 54);
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    height: 700px;
}

.logo_block {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.logo {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 10px;
    right: 15px;
}

.menu_section {
    color: rgb(238, 238, 238);
    font-family: Lato;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    display: flex;
    text-align: left;
    padding-left: 799px;
    padding-top: 40px;
    margin: 0px;
    justify-content: flex-start;
    column-gap: 50px;
}

h4 {
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.menu_item1 .menu_item2 .menu_item3 {
    font-weight: 100;
}

.side_photo {
    position: absolute;
    width: 577px;
    height: 544px;
    padding-top: 0%;
    margin-top: 0%;
    left: 0px;
    top: 0px;
}

p {
    font-weight: lighter;
}

.side_text {
    position: absolute;
    width: 468px;
    height: 138px;
    left: 54px;
    top: 540px;
    color: rgb(238, 238, 238);
    font-family: Barlow;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.main_text {
    position: absolute;
    font-family: "Noto Serif";
    color: white;
    left: 505px;
    top: 250px;
    font-size: 100px;
    z-index: 10;
}

.pink_main_text {
    color: #E099B6;
}

.bottom_main_word {
    position: absolute;
    color: #E099B6;
    font-family: "Noto Serif";
    top: 378px;
    left: 705px;
    font-size: 100px;
}

.star1 {
    position: absolute;
    color: white;
    width: 77.95px;
    height: 78.56px;
    left: 622px;
    top: 395px;
}

.star2 {
    position: absolute;
    color: white;
    width: 77.95px;
    height: 78.56px;
    left: 1185px;
    top: 395px;
}

.line_top{
    position: absolute;
    width: 720px;
    size: 1px;
    color: #E5C9D3;
    right: 0px;
    top: 170px;
    margin: 0px;
}

.line_bottom{
    position: absolute;
    width: 720px;
    size: 1px;
    color: #E5C9D3;
    right: 0px;
    top: 650px;
    margin: 0px;
}

.button {
    position: absolute;
    width: 120.73px;
    height: 51.14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 238, 238);
    left: 1230px;
    top: 532px;

    color: rgb(31, 29, 54);
    font-family: Barlow;
    font-size: 24px;
    font-weight: 500;
}