
body{
min-height: 100vh;
margin: 0% 0% 0% 0%;
padding: 0% 0% 0% 0%;
}

.block1{
background-color: rgb(31, 29, 54);
margin: 0% 0% 0% 0%;
padding: 0% 0% 0% 0%;
height: 700px;
}

.logo_block{
display: inline-block;
width: 150px;
height: 150px;
}

.logo{
display: inline-block;
position: absolute;
width: 150px;
height: 150px;
top: 10px;
right: 15px;
}

.menu_section{
font-size: 20px;
color: rgb(238, 238, 238);
font-family: Lato;
font-size: 15px;
font-weight: 100;
line-height: 24px;
letter-spacing: 0%;
display: flex;
text-align: left;
padding-top: 0%;
padding-left: 591.93px;
padding-top: 44px;
justify-content: flex-start;
column-gap: 30px;
}

.side_photo{
position: absolute;
width: 529.75px;
height: 499.55px;
padding-top: 0%;
margin-top: 0%;
left: 0px;
top: 0px;
}

.side_text{
position: absolute;
width: 370px;
height: 184px;
left: 73px;
right: 86.75px;
top: 524px;
bottom: -0.07px;
color: rgb(238, 238, 238);
font-family: Barlow;
font-size: 20px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}